.a {
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}
.b {
  color: white;
  padding-left: 20px;
}
.c {
  margin-top: 20px;
  padding-right: 20px;
}
.d:visited {
  color: white;
}
.e:visited {
  color: white;
}
.f:visited {
  color: white;
}
.d:hover {
  color: silver;
  font-size: 30px;
}
.e:hover {
  color: silver;
  font-size: 30px;
}
.f:hover {
  color: silver;
  font-size: 30px;
}
.g {
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  background-color: aqua;
  text-align: center;
}
.h {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.i {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-around;
  border: 1px solid black;
  text-align: justify;
}
.j {
  text-align: left;
  border-right: 1px solid black;
  padding-bottom: 15px;
  padding-right: 15px;
}
.k {
  padding-left: 50px;
  padding-right: 10px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: center;
}
.l {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  text-align: right;
}
.m {
  font-size: 20px;
  text-align: center;
  font-style: oblique;
}
.n {
  display: flex;
  justify-content: space-evenly;
}
.o {
  padding-top: 80px;
}
.p {
  padding-bottom: 60px;
}
.q {
  font-size: 20px;
  text-align: center;
  font-style: oblique;
  padding-inline: 50px;
}
.r {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 15px;
}
.s {
  padding-top: 50px;
}
.t {
  padding-bottom: 60px;
}
.u {
  text-align: center;
  font-style: oblique;
}
.v {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px;
}
.w {
  margin-top: 30px;
}
.x {
  text-align: center;
  margin-top: 10px;
}
.y {
  display: flex;
  background-color: beige;
  margin-top: 15px;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
